<h1>Portfolio Page</h1>

<% @portfolios.each do |portfolio| %>
  <p><%= portfolio.title %></p>
  <p><%= portfolio.subtitle %></p>
  <p><%= portfolio.body %></p>
  <p><%= image_tag portfolio.main_image %></p>
  <p><%= image_tag portfolio.thumb_image %></p>
<% end %>
